1. Open Jupyter Notebook and import the required packages at the top of your code as shown below:

import pyspark
from pyspark.sql import SparkSession

2. Initializing SparkSession
First of all, a SparkSession needs to be initialized. With the help of SparkSession, DataFrame can be created and registered as tables. Moreover, SQL tables are executed, tables can be cached, and parquet/JSON/CSV/Avro data formatted files can be read.

spark = SparkSession.builder.appName('Carapp').getOrCreate()

In [1]:
import pyspark
from pyspark.sql import SparkSession

data = '''D:/Per Scholas/SparkStuff/data'''

spark = SparkSession.builder.appName('Carapp').getOrCreate()


 3. Read CSV File with Spark DataFrame API


To read a CSV file, simply specify the path to the load() function of the read module. The inferSchema and header parameters are mandatory whenever reading CSV files. Without them, Spark will cast every data type to string and treat the header row as actual data:

In [2]:
cardf = spark.read.load(f"{data}/cars.csv", format="csv", header=True, inferSchema=True)

cardf.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: double (nullable = true)
 |-- Cylinders: integer (nullable = true)
 |-- Displacement: double (nullable = true)
 |-- Horsepower: integer (nullable = true)
 |-- Weight: integer (nullable = true)
 |-- Acceleration: double (nullable = true)
 |-- Model: integer (nullable = true)
 |-- Origin: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- city: string (nullable = true)

4. Running SQL Queries 

Call createTempView(table name) method on a DataFrame.  Call createTempView(table name) method register DataFrame as a table and create a temporary view.
Pass any SQL statement in a call to spark.sql() and return the result sets as DataFrame structures. 

Example 1: Return all Data From CSV File

In [3]:
cardf.createTempView("dealer")  # deal will use as a table name
spark.sql("SELECT * from dealer").show(100)

+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|quantity|   city|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+
|AMC Ambassador Br...|13.0|        8|       360.0|       175|  3821|        11.0|   73|    US|      25|NewYork|
|  AMC Ambassador DPL|15.0|        8|       390.0|       190|  3850|         8.5|   70|    US|       2|     NJ|
|  AMC Ambassador SST|17.0|        8|       304.0|       150|  3672|        11.5|   72|    US|       4| DALLAS|
|         AMC Concord|19.4|        6|       232.0|        90|  3210|        17.2|   78|    US|      52|  TEXAS|
|         AMC Concord|24.3|        4|       151.0|        90|  3003|        20.1|   80|    US|      42|     OH|
|     AMC Concord d/l|18.1|        6|       258.0|       120|  3410|        15.1|   78|    US|       4|NewYork|
|      AMC Concord DL|23.0|        4|       151.0|         0|  3035|        20.5|   82|    US|      45|     NJ|
|    AMC Concord DL 6|20.2|        6|       232.0|        90|  3265|        18.2|   79|    US|     328| DALLAS|
|         AMC Gremlin|21.0|        6|       199.0|        90|  2648|        15.0|   70|    US|      68|  TEXAS|
|         AMC Gremlin|19.0|        6|       232.0|       100|  2634|        13.0|   71|    US|      78|     OH|
|         AMC Gremlin|18.0|        6|       232.0|       100|  2789|        15.0|   73|    US|     152|NewYork|
|         AMC Gremlin|20.0|        6|       232.0|       100|  2914|        16.0|   75|    US|     214|     NJ|
|          AMC Hornet|18.0|        6|       199.0|        97|  2774|        15.5|   70|    US|      60| DALLAS|
|          AMC Hornet|18.0|        6|       232.0|       100|  2945|        16.0|   73|    US|     144|  TEXAS|
|          AMC Hornet|19.0|        6|       232.0|       100|  2901|        16.0|   74|    US|     172|     OH|
|          AMC Hornet|22.5|        6|       232.0|        90|  3085|        17.6|   76|    US|      28|NewYork|
|AMC Hornet Sporta...|18.0|        6|       258.0|       110|  2962|        13.5|   71|    US|      90|     NJ|
|         AMC Matador|18.0|        6|       232.0|       100|  3288|        15.5|   71|    US|      82| DALLAS|
|         AMC Matador|14.0|        8|       304.0|       150|  3672|        11.5|   73|    US|     131|  TEXAS|
|         AMC Matador|16.0|        6|       258.0|       110|  3632|        18.0|   74|    US|     179|NewYork|
|         AMC Matador|15.0|        6|       258.0|       110|  3730|        19.0|   75|    US|     207|     NJ|
|         AMC Matador|15.5|        8|       304.0|       120|  3962|        13.9|   76|    US|     234| DALLAS|
|    AMC Matador (sw)|15.0|        8|       304.0|       150|  3892|        12.5|   72|    US|     117|  TEXAS|
|    AMC Matador (sw)|14.0|        8|       304.0|       150|  4257|        15.5|   74|    US|     185|     OH|
|           AMC Pacer|19.0|        6|       232.0|        90|  3211|        17.0|   75|    US|     221|NewYork|
|       AMC Pacer d/l|17.5|        6|       258.0|        95|  3193|        17.8|   76|    US|      75|     NJ|
|       AMC Rebel SST|16.0|        8|       304.0|       150|  3433|        12.0|   70|    US|       4| DALLAS|
|  AMC Rebel SST (sw)| 0.0|        8|       360.0|       175|  3850|        11.0|   70|    US|      53|  TEXAS|
|       AMC Spirit DL|27.4|        4|       121.0|        80|  2670|        15.0|   79|    US|     575|     OH|
|         Audi 100 LS|24.0|        4|       107.0|        90|  2430|        14.5|   70|Europe|      65|NewYork|
|          Audi 100LS|20.0|        4|       114.0|        91|  2582|        14.0|   73|Europe|     164|     NJ|
|          Audi 100LS|23.0|        4|       115.0|        95|  2694|        15.0|   75|Europe|      45| DALLAS|
|           Audi 4000|34.3|        4|        97.0|        78|  2188|        15.8|   80|Europe|     362|  TEXAS|
|           Audi 5000|20.3|        5|       131.0|       103|  2830|        15.9|   78|Europe|     319|     OH|
| Audi 5000s (diesel)|36.4|        5|       121.0|        67|  2950|        19.9|   80|Europe|     372|NewYork|
|            Audi Fox|29.0|        4|        98.0|        83|  2219|        16.5|   74|Europe|     186|     NJ|
|            BMW 2002|26.0|        4|       121.0|       113|  2234|        12.5|   70|Europe|      67| DALLAS|
|            BMW 320i|21.5|        4|       121.0|       110|  2600|        12.8|   77|Europe|     287|  TEXAS|
|       Buick Century|17.0|        6|       231.0|       110|  3907|        21.0|   75|    US|     205|     OH|
|       Buick Century|22.4|        6|       231.0|       110|  3415|        15.8|   81|    US|     409|NewYork|
|   Buick Century 350|13.0|        8|       350.0|       175|  4100|        13.0|   73|    US|     130|     NJ|
|Buick Century Lim...|25.0|        6|       181.0|       110|  2945|        16.4|   82|    US|     432| DALLAS|
|Buick Century Lux...|13.0|        8|       350.0|       150|  4699|        14.5|   74|    US|     182|  TEXAS|
|Buick Century Spe...|20.6|        6|       231.0|       105|  3380|        15.8|   78|    US|     303|     OH|
|Buick Electra 225...|12.0|        8|       455.0|       225|  4951|        11.0|   73|    US|     140|NewYork|
|Buick Estate Wago...|14.0|        8|       455.0|       225|  3086|        10.0|   70|    US|      57|     NJ|
|Buick Estate Wago...|16.9|        8|       350.0|       155|  4360|        14.9|   79|    US|     334| DALLAS|
|Buick LeSabre Custom|13.0|        8|       350.0|       155|  4502|        13.5|   72|    US|     113|  TEXAS|
|Buick Opel Isuzu ...|30.0|        4|       111.0|        80|  2155|        14.8|   77|    US|     814|     OH|
|Buick Regal Sport...|17.7|        6|       231.0|       165|  3445|        13.4|   78|    US|     308|NewYork|
|       Buick Skyhawk|21.0|        6|       231.0|       110|  3039|        15.0|   75|    US|     209|     NJ|
|       Buick Skylark|20.5|        6|       231.0|       105|  3425|        16.9|   77|    US|     271| DALLAS|
|       Buick Skylark|26.6|        4|       151.0|        84|  2635|        16.4|   81|    US|     384|NewYork|
|   Buick Skylark 320|15.0|        8|       350.0|       165|  3693|        11.5|   70|    US|      25|     NJ|
|Buick Skylark Lim...|28.4|        4|       151.0|        90|  2670|        16.0|   79|    US|     350| DALLAS|
|   Cadillac Eldorado|23.0|        8|       350.0|       125|  3900|        17.4|   79|    US|     343|  TEXAS|
|    Cadillac Seville|16.5|        8|       350.0|       180|  4380|        12.1|   76|    US|      28|     OH|
|            Capri ii|25.0|        4|       140.0|        92|  2572|        14.9|   76|    US|     229|NewYork|
|   Chevrolet Bel Air|15.0|        8|       350.0|       145|  4440|        14.0|   75|    US|     202|     NJ|
|       Chevrolet C10|13.0|        8|       350.0|       145|  4055|        12.0|   76|    US|      75| DALLAS|
|    Chevrolet Camaro|27.0|        4|       151.0|        90|  2950|        17.3|   82|    US|     438|  TEXAS|
|Chevrolet Caprice...|13.0|        8|       400.0|       150|  4464|        12.0|   73|    US|     136|     OH|
|Chevrolet Caprice...|17.5|        8|       305.0|       145|  3880|        12.5|   77|    US|     266|NewYork|
|Chevrolet Caprice...|17.0|        8|       305.0|       130|  3840|        15.4|   79|    US|     330|     NJ|
|  Chevrolet Cavalier|28.0|        4|       112.0|        88|  2605|        19.6|   82|    US|     413| DALLAS|
|Chevrolet Cavalie...|34.0|        4|       112.0|        88|  2395|        18.0|   82|    US|     415|  TEXAS|
|Chevrolet Cavalie...|27.0|        4|       112.0|        88|  2640|        18.6|   82|    US|     414|     OH|
|Chevrolet Chevell...| 0.0|        8|       350.0|       165|  4142|        11.5|   70|    US|      33|NewYork|
|Chevrolet Chevell...|13.0|        8|       307.0|       130|  4098|        14.0|   72|    US|     118|     NJ|
|Chevrolet Chevell...|18.0|        8|       307.0|       130|  3504|        12.0|   70|    US|      20| DALLAS|
|Chevrolet Chevell...|17.0|        6|       250.0|       100|  3329|        15.5|   71|    US|      80|NewYork|
|Chevrolet Chevell...|16.0|        6|       250.0|       100|  3781|        17.0|   74|    US|     178|     NJ|
|Chevrolet Chevell...|17.5|        8|       305.0|       140|  4215|        13.0|   76|    US|     232| DALLAS|
|  Chevrolet Chevette|29.0|        4|        85.0|        52|  2035|        22.2|   76|    US|     240|  TEXAS|
|  Chevrolet Chevette|30.5|        4|        98.0|        63|  2051|        17.0|   77|    US|     282|     OH|
|  Chevrolet Chevette|30.0|        4|        98.0|        68|  2155|        16.5|   78|    US|     311|NewYork|
|  Chevrolet Chevette|32.1|        4|        98.0|        70|  2120|        15.5|   80|    US|     356|     NJ|
|  Chevrolet Citation|28.8|        6|       173.0|       115|  2595|        11.3|   79|    US|     351| DALLAS|
|  Chevrolet Citation|28.0|        4|       151.0|        90|  2678|        16.5|   80|    US|     358|  TEXAS|
|  Chevrolet Citation|23.5|        6|       173.0|       110|  2725|        12.6|   81|    US|     386|     OH|
|  Chevrolet Concours|17.5|        6|       250.0|       110|  3520|        16.4|   77|    US|       7|NewYork|
|    Chevrolet Impala|14.0|        8|       454.0|       220|  4354|         9.0|   70|    US|       7|     NJ|
|    Chevrolet Impala|14.0|        8|       350.0|       165|  4209|        12.0|   71|    US|      83| DALLAS|
|    Chevrolet Impala|13.0|        8|       350.0|       165|  4274|        12.0|   72|    US|     107|  TEXAS|
|    Chevrolet Impala|11.0|        8|       400.0|       150|  4997|        14.0|   73|    US|     148|     OH|
|    Chevrolet Malibu|13.0|        8|       350.0|       145|  3988|        13.0|   73|    US|     132|NewYork|
|    Chevrolet Malibu|20.5|        6|       200.0|        95|  3155|        18.2|   78|    US|     298|     NJ|
|Chevrolet Malibu ...|19.2|        8|       267.0|       125|  3605|        15.0|   79|    US|     336| DALLAS|
|Chevrolet Monte C...|15.0|        8|       400.0|       150|  3761|         9.5|   70|    US|      56|NewYork|
|Chevrolet Monte C...|15.5|        8|       350.0|       170|  4165|        11.4|   77|    US|     275|     NJ|
|Chevrolet Monte C...|19.2|        8|       305.0|       145|  3425|        13.2|   78|    US|     307| DALLAS|
|Chevrolet Monte C...|15.0|        8|       350.0|       145|  4082|        13.0|   73|    US|     160|  TEXAS|
| Chevrolet Monza 2+2|20.0|        8|       262.0|       110|  3221|        13.5|   75|    US|     210|     OH|
|      Chevrolet Nova|15.0|        6|       250.0|       100|  3336|        17.0|   74|    US|     173|NewYork|
|      Chevrolet Nova|18.0|        6|       250.0|       105|  3459|        16.0|   75|    US|     198|     NJ|
|      Chevrolet Nova|22.0|        6|       250.0|       105|  3353|        14.5|   76|    US|     237| DALLAS|
|Chevrolet Nova Cu...|16.0|        6|       250.0|       100|  3278|        18.0|   73|    US|     143|  TEXAS|
|      Chevrolet Vega|20.0|        4|       140.0|        90|  2408|        19.5|   72|    US|     105|     OH|
|      Chevrolet Vega|21.0|        4|       140.0|        72|  2401|        19.5|   73|    US|     154|NewYork|
|      Chevrolet Vega|25.0|        4|       140.0|        75|  2542|        17.0|   74|    US|     177|     NJ|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+
only showing top 100 rows

In [5]:
spark.sql("SELECT Car, count(DISTINCT city) AS count FROM dealer GROUP BY Car").show()

+--------------------+-----+
|                 Car|count|
+--------------------+-----+
|Chevrolete Chevel...|    1|
|Volkswagen 1131 D...|    1|
|Chevrolet Monte C...|    2|
|     Ford LTD Landau|    1|
|       Honda Prelude|    1|
|      Chevrolet Nova|    3|
|   Volkswagen Rabbit|    5|
|     Ford Torino 500|    1|
|        Toyota Camry|    1|
|         Audi 100 LS|    1|
|Plymouth Valiant ...|    1|
|Toyota Corolla Ma...|    1|
|Oldsmobile Cutlas...|    1|
|Fiat 124 Sport Coupe|    1|
|Chevrolet Caprice...|    3|
|     Volvo 145e (sw)|    1|
|    Chevrolet Camaro|    1|
|            Audi Fox|    1|
|       Dodge Aspen 6|    1|
|    Pontiac Catalina|    3|
+--------------------+-----+
only showing top 20 rows

Example 2:  Find Sum of Quantity per Dealer. Group by `car.`

In [6]:
spark.sql("SELECT Car, sum(quantity) FROM dealer GROUP BY Car").show()

+--------------------+-------------+
|                 Car|sum(quantity)|
+--------------------+-------------+
|Chevrolete Chevel...|          206|
|Volkswagen 1131 D...|           63|
|Chevrolet Monte C...|          582|
|     Ford LTD Landau|          331|
|       Honda Prelude|          400|
|      Chevrolet Nova|          608|
|   Volkswagen Rabbit|         1441|
|     Ford Torino 500|           81|
|        Toyota Camry|          153|
|         Audi 100 LS|           65|
|Plymouth Valiant ...|          197|
|Toyota Corolla Ma...|          127|
|Oldsmobile Cutlas...|          752|
|Fiat 124 Sport Coupe|          159|
|Chevrolet Caprice...|          732|
|     Volvo 145e (sw)|          121|
|            Audi Fox|          186|
|    Chevrolet Camaro|          438|
|       Dodge Aspen 6|          329|
|AMC Ambassador Br...|           25|
+--------------------+-------------+
only showing top 20 rows

Example 3:  Multiple aggregations.
-- a. Sum of quantity per dealership.
-- b. Max quantity per dealership.

In [7]:
spark.sql("SELECT Car, sum(quantity) AS sum, max(quantity) AS max FROM dealer GROUP BY Car ORDER BY Car").show();

+--------------------+---+---+
|                 Car|sum|max|
+--------------------+---+---+
|AMC Ambassador Br...| 25| 25|
|  AMC Ambassador DPL|  2|  2|
|  AMC Ambassador SST|  4|  4|
|         AMC Concord| 94| 52|
|      AMC Concord DL| 45| 45|
|    AMC Concord DL 6|328|328|
|     AMC Concord d/l|  4|  4|
|         AMC Gremlin|512|214|
|          AMC Hornet|404|172|
|AMC Hornet Sporta...| 90| 90|
|         AMC Matador|833|234|
|    AMC Matador (sw)|302|185|
|           AMC Pacer|221|221|
|       AMC Pacer d/l| 75| 75|
|       AMC Rebel SST|  4|  4|
|  AMC Rebel SST (sw)| 53| 53|
|       AMC Spirit DL|575|575|
|         Audi 100 LS| 65| 65|
|          Audi 100LS|209|164|
|           Audi 4000|362|362|
+--------------------+---+---+
only showing top 20 rows

Example 4: Count the number of distinct dealer cities per car.

In [8]:
spark.sql("SELECT Car, count(DISTINCT city) AS count FROM dealer GROUP BY Car").show()

+--------------------+-----+
|                 Car|count|
+--------------------+-----+
|Chevrolete Chevel...|    1|
|Volkswagen 1131 D...|    1|
|Chevrolet Monte C...|    2|
|     Ford LTD Landau|    1|
|       Honda Prelude|    1|
|      Chevrolet Nova|    3|
|   Volkswagen Rabbit|    5|
|     Ford Torino 500|    1|
|        Toyota Camry|    1|
|         Audi 100 LS|    1|
|Plymouth Valiant ...|    1|
|Toyota Corolla Ma...|    1|
|Oldsmobile Cutlas...|    1|
|Fiat 124 Sport Coupe|    1|
|Chevrolet Caprice...|    3|
|     Volvo 145e (sw)|    1|
|    Chevrolet Camaro|    1|
|            Audi Fox|    1|
|       Dodge Aspen 6|    1|
|    Pontiac Catalina|    3|
+--------------------+-----+
only showing top 20 rows

Example 5: Find the cars that have quantities greater than 200, and display data in descending order by quantity.

In [9]:
spark.sql("SELECT * FROM dealer WHERE quantity > 200 ORDER BY quantity desc").show();

+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|quantity|  city|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+------+
|   Plymouth Arrow GS|25.5|        4|       122.0|        96|  2300|        15.5|   77|    US|   75275|    OH|
|Buick Opel Isuzu ...|30.0|        4|       111.0|        80|  2155|        14.8|   77|    US|     814|    OH|
|      Toyota Mark II|19.0|        6|       156.0|       108|  2930|        15.5|   76| Japan|     757| TEXAS|
|Oldsmobile Cutlas...|17.0|        8|       260.0|       110|  4060|        19.0|   77|    US|     752|    NJ|
|       AMC Spirit DL|27.4|        4|       121.0|        80|  2670|        15.0|   79|    US|     575|    OH|
|     Ford Mustang GL|27.0|        4|       140.0|        86|  2790|        15.6|   82|    US|     439|    OH|
|    Chevrolet Camaro|27.0|        4|       151.0|        90|  2950|        17.3|   82|    US|     438| TEXAS|
|    Toyota Celica GT|32.0|        4|       144.0|        96|  2665|        13.9|   82| Japan|     436| TEXAS|
|Chrysler Lebaron ...|26.0|        4|       156.0|        92|  2585|        14.5|   82|    US|     434|DALLAS|
|Buick Century Lim...|25.0|        6|       181.0|       110|  2945|        16.4|   82|    US|     432|DALLAS|
|       Datsun 310 GX|38.0|        4|        91.0|        67|  1995|        16.2|   82| Japan|     431|    NJ|
|  Honda Civic (auto)|32.0|        4|        91.0|        67|  1965|        15.7|   82| Japan|     430| TEXAS|
|      Toyota Corolla|34.0|        4|       108.0|        70|  2245|        16.9|   82| Japan|     428|    NJ|
|        Honda Accord|36.0|        4|       107.0|        75|  2205|        14.5|   82| Japan|     427|    OH|
|      Mercury Lynx l|36.0|        4|        98.0|        70|  2125|        17.3|   82|    US|     425| TEXAS|
|Plymouth Horizon ...|38.0|        4|       105.0|        63|  2125|        14.7|   82|    US|     424|DALLAS|
|    Mazda GLC Custom|31.0|        4|        91.0|        68|  1970|        17.6|   82| Japan|     423| TEXAS|
|  Mazda GLC Custom l|37.0|        4|        91.0|        68|  2025|        18.2|   82| Japan|     422|    OH|
| Volkswagen Rabbit l|36.0|        4|       105.0|        74|  1980|        15.3|   82|Europe|     421|    NJ|
|Ford Fairmont Futura|24.0|        4|       140.0|        92|  2865|        16.4|   82|    US|     419|    NJ|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+------+
only showing top 20 rows

Example 6: Scalar Subquery in `WHERE` clause.
Find the cars that have a horsepower greater than “average.”

In [10]:
spark.sql("SELECT * FROM dealer WHERE Horsepower>(SELECT avg(Horsepower) FROM dealer)").show();

+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|quantity|   city|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+
|AMC Ambassador Br...|13.0|        8|       360.0|       175|  3821|        11.0|   73|    US|      25|NewYork|
|  AMC Ambassador DPL|15.0|        8|       390.0|       190|  3850|         8.5|   70|    US|       2|     NJ|
|  AMC Ambassador SST|17.0|        8|       304.0|       150|  3672|        11.5|   72|    US|       4| DALLAS|
|     AMC Concord d/l|18.1|        6|       258.0|       120|  3410|        15.1|   78|    US|       4|NewYork|
|AMC Hornet Sporta...|18.0|        6|       258.0|       110|  2962|        13.5|   71|    US|      90|     NJ|
|         AMC Matador|14.0|        8|       304.0|       150|  3672|        11.5|   73|    US|     131|  TEXAS|
|         AMC Matador|16.0|        6|       258.0|       110|  3632|        18.0|   74|    US|     179|NewYork|
|         AMC Matador|15.0|        6|       258.0|       110|  3730|        19.0|   75|    US|     207|     NJ|
|         AMC Matador|15.5|        8|       304.0|       120|  3962|        13.9|   76|    US|     234| DALLAS|
|    AMC Matador (sw)|15.0|        8|       304.0|       150|  3892|        12.5|   72|    US|     117|  TEXAS|
|    AMC Matador (sw)|14.0|        8|       304.0|       150|  4257|        15.5|   74|    US|     185|     OH|
|       AMC Rebel SST|16.0|        8|       304.0|       150|  3433|        12.0|   70|    US|       4| DALLAS|
|  AMC Rebel SST (sw)| 0.0|        8|       360.0|       175|  3850|        11.0|   70|    US|      53|  TEXAS|
|            BMW 2002|26.0|        4|       121.0|       113|  2234|        12.5|   70|Europe|      67| DALLAS|
|            BMW 320i|21.5|        4|       121.0|       110|  2600|        12.8|   77|Europe|     287|  TEXAS|
|       Buick Century|17.0|        6|       231.0|       110|  3907|        21.0|   75|    US|     205|     OH|
|       Buick Century|22.4|        6|       231.0|       110|  3415|        15.8|   81|    US|     409|NewYork|
|   Buick Century 350|13.0|        8|       350.0|       175|  4100|        13.0|   73|    US|     130|     NJ|
|Buick Century Lim...|25.0|        6|       181.0|       110|  2945|        16.4|   82|    US|     432| DALLAS|
|Buick Century Lux...|13.0|        8|       350.0|       150|  4699|        14.5|   74|    US|     182|  TEXAS|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+
only showing top 20 rows

 Example 7: Find the sum of only 'Toyota Camrys' and 'Dodge D200s' per dealership.

In [11]:
spark.sql("SELECT Car, sum(quantity) FILTER (WHERE Car IN ('Toyota Camry', 'Datsun 200-SX')) AS `sum(quantity)` \
          FROM dealer GROUP BY Car").show(25);

+--------------------+-------------+
|                 Car|sum(quantity)|
+--------------------+-------------+
|Chevrolete Chevel...|         null|
|Volkswagen 1131 D...|         null|
|Chevrolet Monte C...|         null|
|     Ford LTD Landau|         null|
|       Honda Prelude|         null|
|      Chevrolet Nova|         null|
|   Volkswagen Rabbit|         null|
|     Ford Torino 500|         null|
|        Toyota Camry|          153|
|         Audi 100 LS|         null|
|Plymouth Valiant ...|         null|
|Toyota Corolla Ma...|         null|
|Oldsmobile Cutlas...|         null|
|Fiat 124 Sport Coupe|         null|
|Chevrolet Caprice...|         null|
|     Volvo 145e (sw)|         null|
|            Audi Fox|         null|
|    Chevrolet Camaro|         null|
|       Dodge Aspen 6|         null|
|AMC Ambassador Br...|         null|
|    Pontiac Catalina|         null|
|       Ford Maverick|         null|
|      Chevrolet Vega|         null|
|   Plymouth Fury III|         null|
|       Datsun 200-SX|          318|
+--------------------+-------------+
only showing top 25 rows

Example 8 : Regular Expressions

In [12]:
spark.sql("SELECT Car, REGEXP_EXTRACT(Car, ' ([A-Za-z]+)\.') AS CarTitle FROM dealer").show(10)

+--------------------+----------+
|                 Car|  CarTitle|
+--------------------+----------+
|AMC Ambassador Br...|Ambassador|
|  AMC Ambassador DPL|Ambassador|
|  AMC Ambassador SST|Ambassador|
|         AMC Concord|    Concor|
|         AMC Concord|    Concor|
|     AMC Concord d/l|   Concord|
|      AMC Concord DL|   Concord|
|    AMC Concord DL 6|   Concord|
|         AMC Gremlin|    Gremli|
|         AMC Gremlin|    Gremli|
+--------------------+----------+
only showing top 10 rows