# 11 Python Practice Problems

In this lab we will be practicing the following skills by defining functions to meet a given set of conditions.
<br></br>
* Passing arguements into a function
* String Manipulation
* Traversing a List
* Accessing indexes of a String/List
* Mathematic Operators
* Returning a Value from a function
* String and List Manipulation
* Working with Integers
* Booleans
* Assigning Keys and Values to a Dictionary
<br></br>

*Note: Pay special attention to how the question asks for the return and whether the Python Objects are supposed to be modified in place or can be returned in a new Python Object.*

**Problem 1**

Given a list, define and call function that changes all positive numbers in the list to "big".

Example: make_it_big([-1, 3, 5, -5]) returns the same list, changed to [-1, "big", "big", -5].

In [ ]:
['big' if x > 0 else x for x in [-1, 3, 5, -5] ]

[-1, 'big', 'big', -5]

**Problem 2**

Given a list of numbers, define and call a function to replace last value in the list with the total number of positive values.

Example: count_positives([-1,1,1,1]) changes the list to [-1,1,1,3] and returns it.  

(Note that zero is not considered to be a positive number).

In [24]:
def count_positives(numbers):
  count = len([x for x in numbers if x > 0])
  numbers[-1] = count
  return numbers

list_of_numbers = [-1, 1, 1, 1]
list_of_numbers = count_positives(list_of_numbers)

list_of_numbers

[-1, 1, 1, 3]

**Problem 3**

Define a function that takes a list as an argument and returns the sum of all the values in the list.

Example: sum_total([1,2,3,4]) should return 10.

In [23]:
# prompt: def sum_total(a_list):

def sum_total(a_list):
  return sum(a_list)

sum_total([1,2,3,4])

10

**Problem 4**

Define a function that takes a list as an argument and returns the average of all the values in the list. Round the average to two decimal places

Example: multiples([1,2,3,4]) should return 2.5

In [22]:
def multiples(a_list):
  return round(sum(a_list)/len(a_list),2)

multiples([1,2,3,4])

2.5

**Problem 5**

Define a function that takes a list as an argument and returns the length of the list.  

Example: length([1,2,3,4]) should return 4.

In [21]:
def length(a_list):
  return len(a_list)

length([1,2,3,4])

4

**Problem 6**

Define a function that takes a list as an argument and returns the minimum value in the list.  If the passed list is empty, have the function return false.  

Example: minimum([1,2,3,4]) should return 1; minimum([-1,-2,-3]) should return -3.

In [19]:
def minimum(a_list):
  if len(a_list) == 0:
    return False
  return min(a_list)

minimum([-1,-2,-3])

-3

**Problem 7**

Define a function that takes a list as an argument and returns the maximum value in the list.  If the passed list is empty, have the function return false.  

Example maximum([1,2,3,4]) should return 4; maximum([-1,-2,-3]) should return -1.

**Problem 8**

Define a function that takes a list as an argument and returns a dictionary that has the sum_total, average, minimum, maximum and length of the list.

In [29]:
def list_stats(a_list):
    stats = {}
    stats['sum_total'] = sum_total(a_list)
    stats['average'] = multiples(a_list)
    stats['minimum'] = min(a_list)
    stats['maximum'] = max(a_list)
    stats['length'] = len(a_list)

    return stats

list_stats([-1, 3, 5, -5])

{'sum_total': 2, 'average': 0.5, 'minimum': -5, 'maximum': 5, 'length': 4}

**Problem 9**

Define a function that takes a list as a argument and return a list in a reversed order.  Do this without creating a empty temporary list.  

Example: reverse([1,2,3,4]) should return [4,3,2,1].

This challenge is known to appear during basic technical interviews.

In [26]:
def reverse(alist):
  return sorted(alist, reverse=True)

reverse([1,2,3,4])

[4, 3, 2, 1]

**Problem 10**

Given a string, define a function to check if it is palindrome or not. A string is said to be palindrome if the reverse of the string is the same as string.

Example: “radar” is a palindrome, but “radix” is not a palindrome.

In [28]:
def is_palindrome(phrase):
  return phrase == phrase[::-1]

is_palindrome('radar')
is_palindrome('radix')

False

**Problem 11**

Define a function that will print numbers from 1 to 100, with certain exceptions:
>* If the number is a multiple of 3, print “Fizz” instead of the number.
>* If the number is a multiple of 5, print “Buzz” instead of the number.
>* If the number is a multiple of 3 and 5, print “FizzBuzz” instead of the number.

This challenge is known to appear during basic technical interviews.

In [ ]:
["FizzBuzz" if x%3 == 0 and x%5 == 0 else 'Buzz' if x%5 == 0 else 'Fizz' if x%3 == 0 else x for x in range(1,101) ]

[1,
 2,
 'Fizz',
 4,
 'Buzz',
 'Fizz',
 7,
 8,
 'Fizz',
 'Buzz',
 11,
 'Fizz',
 13,
 14,
 'FizzBuzz',
 16,
 17,
 'Fizz',
 19,
 'Buzz',
 'Fizz',
 22,
 23,
 'Fizz',
 'Buzz',
 26,
 'Fizz',
 28,
 29,
 'FizzBuzz',
 31,
 32,
 'Fizz',
 34,
 'Buzz',
 'Fizz',
 37,
 38,
 'Fizz',
 'Buzz',
 41,
 'Fizz',
 43,
 44,
 'FizzBuzz',
 46,
 47,
 'Fizz',
 49,
 'Buzz',
 'Fizz',
 52,
 53,
 'Fizz',
 'Buzz',
 56,
 'Fizz',
 58,
 59,
 'FizzBuzz',
 61,
 62,
 'Fizz',
 64,
 'Buzz',
 'Fizz',
 67,
 68,
 'Fizz',
 'Buzz',
 71,
 'Fizz',
 73,
 74,
 'FizzBuzz',
 76,
 77,
 'Fizz',
 79,
 'Buzz',
 'Fizz',
 82,
 83,
 'Fizz',
 'Buzz',
 86,
 'Fizz',
 88,
 89,
 'FizzBuzz',
 91,
 92,
 'Fizz',
 94,
 'Buzz',
 'Fizz',
 97,
 98,
 'Fizz',
 'Buzz']